@page "/error-in-username-or-password"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation

@{
    Layout = "_Layout";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading">خطا در ورود</h4>
                <p>نام کاربری یا رمز عبور اشتباه است.</p>
                <hr>
                <a class="btn btn-primary" href="~/Account/">مجدد تلاش کنید</a>
            </div>
        </div>
    </div>
</div>

