@{
    ViewData["Title"] = "پنل مدیران وبلاگ";
	Layout = "/Views/Shared/_AdminLayout.cshtml";
}


<!-- محتوای صفحات -->
<div class="mt-4 content" id="dashboard">
    <h2>داشبورد</h2>
    <p>خوش آمدید به پنل مدیریت وبلاگ.</p>
</div>

@section BottomJS
{
    <script>
        $(document).ready(function() {
            $('#dashboardItem').toggleClass('active',500);
        })
    </script>
}