@{
    ViewData["Title"] = "اضافه کردن پست جدید";
    Layout = "/Views/Shared/_WriterLayout.cshtml";
}

<div class="mt-4 content">
    <div class="container mt-3">
        <div class="form-group w-100">
            <label for="PostTitle" class="mr-2">عنوان صفحه:</label>
            <input type="text" id="PostTitle" name="PostTitle" class="form-control mb-2" placeholder="عنوان پست">
        </div>
        <div class="k-rtl">
            <div id="editorSection" class="demo-section wide w-100 mb-2">
                <textarea id="editor" rows="10" cols="30" class="form-control" style="height:350px" aria-label="editor"></textarea>
            </div>
            
        </div>
        <div class="row">
            <div class="col-6">
                <div id="categoriesTreeList"></div>
            </div>
            <div class="col-6">
                <div id="tag-multiselect"></div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button id="saveButton" class="btn btn-success">ذخیره</button>
        </div>
        
    </div>
</div>

@section HeaderCSS {
    <link href="~/lib/kendo/css/web/default-main.css" rel="stylesheet" />
    <style>
        span.k-treelist-toggle.k-icon.k-svg-icon.k-svg-i-caret-alt-right {
            transform: rotate(180deg);
        }
    </style>
}

@section BottomJS {
    
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#postItem').toggleClass('active',500);
            
            $("#tag-multiselect").kendoMultiSelect({
            autoClose: false,
            dataTextField: "name",
            dataValueField: "id",
            dataSource: {
                transport: {
                    read: {
                        url: "../Writer/GetTags",
                        dataType: "json"
                    },
                    create: {
                        url: "../Writer/AddTag",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function(options, operation) {
                        if (operation === "create") {
                            return { tag: options.models };
                        }
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false, nullable: true },
                            name: { validation: { required: true } }
                        }
                    }
                }
            },
            noDataTemplate: $("#noDataTemplate").html(),
            tagMode: "multiple"
        });


            $(document).ready(function() {
            $("#categoriesTreeList").kendoTreeList({
                dataSource: {
                    transport: {
                        read: {
                            url: "../Writer/GetCategories",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            parentId: "parentCategoryId",
                            fields: {
                                id: { type: "number", nullable: false },
                                parentCategoryId: { field: "parentCategoryId", nullable: true },
                                name: { field: "name", type: "string" }
                            },
                            expanded: true
                        }
                    }
                },
                columns: [
                    { field: "name", title: "نام دسته" }
                ],
                selectable: "row",
                height: 150,
                sortable: true,
                filterable: true
            });
        });

            $("#editor").kendoEditor({
                stylesheets: ["../content/shared/styles/editor.css"],
                tools: [
                    "bold",
                    "italic",
                    "underline",
                    "strikethrough",
                    "justifyLeft",
                    "justifyCenter",
                    "justifyRight",
                    "justifyFull",
                    "insertUnorderedList",
                    "insertOrderedList",
                    "indent",
                    "outdent",
                    "createLink",
                    "unlink",
                    "insertImage",
                    "insertFile",
                    "subscript",
                    "superscript",
                    "tableWizard",
                    "createTable",
                    "addRowAbove",
                    "addRowBelow",
                    "addColumnLeft",
                    "addColumnRight",
                    "deleteRow",
                    "deleteColumn",
                    "viewHtml",
                    "formatting",
                    "cleanFormatting",
                    "fontName",
                    "fontSize",
                    "foreColor",
                    "backColor"
                ],
                fontName: [
                    { text: "Vazir", value: "Vazir" },
                    { text: "Andale Mono", value: "Andale Mono" },
                    { text: "Arial", value: "Arial" },
                    { text: "Arial Black", value: "Arial Black" },
                    { text: "Book Antiqua", value: "Book Antiqua" },
                    { text: "Comic Sans MS", value: "Comic Sans MS" },
                    { text: "Courier New", value: "Courier New" },
                    { text: "Georgia", value: "Georgia" },
                    { text: "Helvetica", value: "Helvetica" },
                    { text: "Impact", value: "Impact" },
                    { text: "Symbol", value: "Symbol" },
                    { text: "Tahoma", value: "Tahoma" },
                    { text: "Terminal", value: "Terminal" },
                    { text: "Times New Roman", value: "Times New Roman" },
                    { text: "Trebuchet MS", value: "Trebuchet MS" },
                    { text: "Verdana", value: "Verdana" },
                    { text: "Webdings", value: "Webdings" },
                    { text: "Wingdings", value: "Wingdings" }
                ]
            });

            // Attach click event handler to save button
            $('#saveButton').on('click', function() {
                var postData = JSON.stringify({
                    title: $('#PostTitle').val(),
                    htmlContent: $("#editor").data("kendoEditor").value()
                });

                $.ajax({
                    url: '@Url.Action("AddNewPost", "Writer")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: postData,
                    success: function(response) {
                        // Handle success
                        alert('پست با موفقیت ذخیره شد');
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        alert('خطا در ذخیره پست');
                    }
                });
            });
        });
    </script>
}