@{
    ViewData["Title"] = "پنل نویسندگان وبلاگ";
	Layout = "/Views/Shared/_WriterLayout.cshtml";
}


<!-- محتوای صفحات -->
<div class="mt-4 content" id="dashboard">
    <h2>داشبورد</h2>
    <p>خوش آمدید به پنل نویسندگان وبلاگ.</p>
</div>


@section BottomJS
{
    <script>
      $(document).ready(function() { 
          $('#dashboardItem').toggleClass('active',500); 
      })
    </script>
}