@{
    ViewData["Title"] = "لیست تگ ها";
    Layout = "/Views/Shared/_WriterLayout.cshtml";
}

<div class="mt-4 content" id="dashboard">
    <h2>لیست تگ ها</h2>
    <p>لیست تگ ها</p>
</div>



@section BottomJS
{
    <script>
        $(document).ready(function() {
            $('#tagItem').toggleClass('active',500);
        })
    </script>
}