@{
    ViewData["Title"] = "لیست دسته بندی ها";
    Layout = "/Views/Shared/_WriterLayout.cshtml";
}

<div class="mt-4 content" id="dashboard">
    <h2>لیست دسته بندی ها</h2>
    <p>لیست دسته بندی ها</p>
</div>

@section BottomJS
{
    <script>
        $(document).ready(function() {
            $('#categoryItem').toggleClass('active',500);
        })
    </script>
}