@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir/Vazirmatn.woff2') format('woff2'), 
        url('../fonts/vazir/Vazirmatn.woff') format('woff'), 
        url('../fonts/vazir/Vazirmatn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url('../fonts/vazir/Vazirmatn-Bold.woff2') format('woff2'), 
        url('../fonts/vazir/Vazirmatn-Bold.woff') format('woff'), 
        url('../fonts/vazir/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Vazir', Arial, sans-serif;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 769px) {
    body {
        font-size: 16px;
    }
}
.active {
    transition: all 1s ease; /* Transition for smooth animation */
}
